<!-- mix html css java in ejs file -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>zumer 1+2</h1>
    <!-- ejs suntax for output (javascript ka kam sab 1.["z","h"][0] zero index a jaya ga) -->
    <h1> <%= 1+2 %></h1>  
    <p>My name is zumer.I am a girl. I am a good girl.</p>
    <button>OK</button>
</body>
</html>